[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]



[packages]

flask = "*"
requests = "*"
pytest = "*"
coverage = "*"
pytest-cov = "*"
requests-testing = "==0.2.0"
requests-mock = "*"
pylint = "*"
gunicorn = "*"


[requires]

python_version = "3.6"
